build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json
CMakeLists.txt.user*
.qtcreator/
*.autosave
*.o
*.obj
*.moc
*.so
*.dll
*.exe
*.a
*.lib
*.log
*.tmp
.DS_Store
Thumbs.db
